@import "tailwindcss";

/* Custom Variables */
:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #4ade80;
  --secondary: #FFD500;
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom classes */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}
